@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #eff1f3;
  --text-white: #eff1f3;
  --primary: #0d1821;
  --text-color: #0d1821;
  --green: #4e6e5d;
  --brown: #ad8a64;
  --red: #a44a3f;
  --border: #eff1f3;
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: var(--font-coolvetica), sans-serif;
  letter-spacing: 0.08em;
  /* font-family: Arial, Helvetica, sans-serif; */
}
